
@{
    ViewBag.Title = "Za_Nas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <h2>За Нас</h2>
    </div>
    <div class="col-md-5"></div>
</div>
<br />
<div class="row">

    <div class="col-md-3">
        Кои сме ние
    </div>
    <div class="col-md-3">
        Мисија
    </div>
    <div class="col-md-3">
        Визија
    </div>
    <div class="col-md-3">
        Цели
    </div>
</div>
